@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont-text h1 {
  font-size: 70px;
  padding: 20px 0;
  margin: 12% 0 25px  0; 
  text-align: center;
  font-weight: 600;
  color: #000000;
}

hr {
  margin: 0 150px !important;
}
.cont-bg-nv {
  background: radial-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.856)),
    url(/img/1neflix.png);
  animation: myAnim 500s linear 0s infinite alternate forwards;
}
.cont-fix {
  position: fixed;
  top: 0;
}
@keyframes myAnim {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}
.cont-text-nav {
  display: flex;
  align-items: center;
}

.cont_bg_foot {
  background: radial-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.856)),
    url(/img/1neflix.png);
}
.cont-btn button {
  background-color: #0355ed;
}
.cont-btn a {
  font-size: 20px;
}

.cont-card h2 {
  color: #0355ed;
  font-weight: 300;
}

.img_cont1 {
  position: relative;
  text-align: center;
}
#imagenes {
  width: 50%;
}

.img_carss {
  position: absolute;
  width: 50%;
  padding: 2px;
  top: 0%;
  left: 25%;
}
.cont-bg-body {
  background: linear-gradient(#000000, #191819, #000000);
}
.cont-hidden {
  visibility: hidden;
}

.cont-foot-img img {
  width: 80px;
  margin: 60px 0;
}
.cont-foot-img2 img {
  width: 50px;
}

@media screen and (max-width: 1250px) {
  .cont-text h1 {
    font-size: 450%;
  }
  #imagenes {
    width: 50%;
  }
  .img_carss {
    width: 50%;
    margin: 0 auto;
    left: 25%;
  }
}

@media screen and (max-width: 1200px) {
  #imagenes {
    width: 60%;
  }
  .img_carss {
    width: 60%;
    margin: 0 auto;
    left: 20%;
  }

  .cont-text h1 {
    font-size: 350%;
    padding: 20px;
    margin-top: 12%;
  }

  .cont-foot-img img {
    margin: 15px 0;
    width: 80px;
  }
  .cont-foot-img2 img {
    width: 50px;
  }
}
@media screen and (max-width: 991px) {
  #imagenes {
    width: 70%;
  }
  .img_carss {
    width: 70%;
    margin: 0 auto;
    left: 15%;
  }

  .cont-text h1 {
    font-size: 280%;
    margin: 2%;
  }
  .cont-bg-nv {
    position: static !important;
  }
  .cont-foot-img img {
    width: 50px;
  }
}

@media screen and (max-width: 767px) {
  #imagenes {
    width: 70%;
  }
  .img_carss {
    width: 70%;
    margin: 0 auto;
    left: 15;
  }

  .cont-text h1 {
    font-size: 240%;
    padding: 10px;
    margin: 2%;
  }
  .cont-input {
    visibility: hidden;
  }
  .cont-hidden {
    visibility: visible;
  }
  .cont-hidden span {
    font-weight: 500;
    font-size: 20px;
    padding: 0 40px;
  }

  .cont-foot-img img {
    margin: 15px 0;
    width: 80px;
  }
  .cont-foot-img2 img {
    width: 40px;
  }
}

@media screen and (max-width: 575px) {
  #imagenes {
    width: 70%;
  }
  .img_carss {
    width: 70%;
    margin: 0 auto;
    left: 15%;
  }

  .cont-text h1 {
    padding: 20px;
    font-size: 35px;
  }

  .cont-hidden span {
    font-weight: 500;
    font-size: 20px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 468px) {
  #imagenes {
    width: 70%;
  }
  .img_carss {
    width: 70%;
    margin: 0 auto;
    left: 15;
  }

  .cont-text h1 {
    font-size: 200%;
    padding: 20px;
  }
  .cont-input {
    visibility: hidden;
  }
  .cont-hidden {
    visibility: visible;
  }
  .cont-hidden span {
    font-weight: 500;
    font-size: 20px;
    padding: 0 10px;
  }
}
