@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont-text h1 {
  font-size: 80px;
  padding: 60px;
  text-align: center;
  font-weight: 600;
  color: #000000;
}

hr {
  margin: 0 150px !important;
}
.cont-bg-nv {
  background: radial-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.856)),
    url(/img/1neflix.png);
  animation: myAnim 500s linear 0s infinite alternate forwards;
}
@keyframes myAnim {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}
.cont-text-nav {
  display: flex;
  align-items: center;
}

.cont_bg_foot {
  background: radial-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.856)),
    url(/img/1neflix.png);
}
.cont-btn button {
  background-color: #0355ed;
}
.cont-btn a {
  font-size: 20px;
}

.cont-card h2 {
  color: #0355ed;
  font-weight: 300;
}

.img_cont1 {
  position: relative;
  text-align: center;
}
#imagenes {
  width: 50%;
}

.img_carss {
  position: absolute;
  width: 50%;
  padding: 2px;
  top: 0%;
  left: 25%;
}
.cont-bg-body {
  background: linear-gradient(#000000, #191819, #000000);
}
.cont-hidden {
  visibility: hidden;
}

@media screen and (max-width: 1250px) {
  .cont-text h1 {
    font-size: 400%;
  }
  #imagenes {
    width: 50%;
  }
  .img_carss {
    width: 50%;
    margin: 0 auto;
    left: 25%;
  }
}

@media screen and (max-width: 1200px) {
  #imagenes {
    width: 70%;
  }
  .img_carss {
    width: 70%;
    margin: 0 auto;
    left: 15%;
  }

  .cont-text h1 {
    font-size: 400%;
    padding: 20px;
  }
}
@media screen and (max-width: 990px) {
  #imagenes {
    width: 90%;
  }
  .img_carss {
    width: 90%;
    margin: 0 auto;
    left: 5%;
  }

  .cont-text h1 {
    font-size: 330%;
    padding: 20px;
  }
}
@media screen and (max-width: 765px) {
  #imagenes {
    width: 100%;
  }
  .img_carss {
    width: 100%;
    margin: 0 auto;
    left: 0;
  }

  .cont-text h1 {
    font-size: 330%;
    padding: 20px;
  }
  .cont-input {
    visibility: hidden;
  }
  .cont-hidden {
    visibility: visible;
  }
}

@media screen and (max-width: 495px) {
  #imagenes {
    width: 100%;
  }
  .img_carss {
    width: 100%;
    margin: 0 auto;
    left: 0%;
  }

  .cont-text h1 {
    padding: 20px;
    font-size: 35px;
  }
}
.nav-txt2 {
  color: #251e1f;
  text-decoration: none;
  font-size: 30px;
}

.margin-foot {
  margin-top: 45px;
}
